//------------------------------------//
//  $FOOTER
//------------------------------------//

.footer{
	background-color:#3D4150;
	 font-family: 'Gotham-Rnd-Light';
	 font-size: 16px;
	 text-align: center;
	 width: 100%;
	 position: relative;
	 height:8%;
	 color:#fff;
	 	 a{
	 	text-decoration:none;
	 }
}
 .h-list{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	 }

