//------------------------------------//
//  $LAYOUT
//------------------------------------//


body { min-width: $site-min-width; }

body, html {
	height: 100%;
 	-webkit-font-smoothing: antialiased;
    font-weight: normal;
     outline: 0;


}

.site-wrapper {
  max-width: $site-wrapper-max-width;
  min-width: $site-min-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  //@include rem(padding-left, $gutter, $base-font-size--mobile);
  //@include rem(padding-right, $gutter, $base-font-size--mobile);
}

// BEGIN example space150 video layout
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// END example space150 layout

//15px left and right gutter when viewed on handheld devices
 @include media-query(below-lap) {
	 .gutter  {
		 padding-left:15px;
		 padding-right:15px;
	 }
 }


//------------------------------------//
//  1. SPACECAMP SECTION
//------------------------------------//

.logoheader{
	font-family: 'Ailerons';
	color:#fff;
	font-size:24px;
    position: absolute;
    top: 43px; 
    width: 100%;
    height: 80px;
    background-image: url(../images/spacelogo.svg);
    background-repeat:no-repeat;
    background-position:center;
    z-index: 100;
    letter-spacing: 10px;
    word-spacing:80px;
  	line-height: 80px;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.masthead {
    position: relative;

}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}

.masthead-arrow {
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 2px;
}
.spacecamp {
	h1 {
		position: absolute;
		text-align: center;
		left: 50%;
		right: auto;
		top: 50%;
  	    transform: translateX(-50%) translateY(-50%);
		color: $white;
		font-family: 'Gotham-Rnd-Light';
		font-size:36px;
		letter-spacing: 20px;
	}
}
// END SPACECAMP SECTION

//------------------------------------//
//  2. PROCESS SECTION
//------------------------------------//
.process {
	background: url(../images/nasa-desert-testing.png);
	background-size: cover;
	background-position: center 60%;
	position: relative;
}


.process-box {
	width: 120px;
	height: 150px;
	margin: 130px 20px;
	border: 3px solid $white;
	display: inline-block;
	text-align: center;
	color: $white;
	  border-radius: 8px;
	.process-box-top-half {
		height: 75px;
		position: relative;
	}
    .process-box-top-half h3{
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		font-size:36px;
	}
	.process-box-bottom-half {
		height: 75px;
		border-top: 1px solid;
		position: relative;
	}
	.process-box-bottom-half p{
		 position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		font-family: 'Gotham-Rnd-Light';
	    font-size:16px;
	    letter-spacing: 2.5px;
	}
}

#process-copy {
	 position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: $white;
     width:100%;
     font-family: 'Gotham-Rnd-Light';
	 font-size:16px;
}


//------------------------------------//
//  3. WHAT WE DO
//-

//not sure about this
#do_left{
	background: url(../images/left-iss.png);
background-size:contain;
	background-position: right;
	background-repeat: no-repeat;
		background-color:#3c404f;
	    height: 100vh;
	  h1{
	  	padding-top: 43px; 
	  }
}
#do_right{
	background: url(../images/right-iss.png);
background-size:contain;
	background-position: left;
	background-repeat: no-repeat;
		background-color:#47433e;
	    height: 100vh;
	  h1{
	  	padding-top: 43px; 
	  }
}
//might need to tweak.


//END PROCESS SECTION

//------------------------------------//
//  4. CAPTAIN'S LOG SECTION
//------------------------------------//
@include media-query('lap-and-up') {
	// #capt-log-banner {
	// 	position: absolute;
	// 	top: 60px;
	// 	padding: 10px 20px;
	// 	background-color: #355592;
	// 	color: $white;
	// 	text-align: center;
	// }

	.one-whole h1{
		    padding-top: 43px; 

	}

	#capt-log {
		font-family: 'Gotham-Rnd-Light';
		font-size:16px;
		color:$white;
		p{
	     text-align: center;
         position: absolute;
  		 top: 50%;
 		 left: 50%;
 		 width: 500px;
 		 transform: translate(-50%, -50%);
		}
		span{
		font-family: 'Ailerons';
     	font-size:36px;
		}
	}
	// #capt-image {
	// 	position: relative;
	// }
	#captains-log{
	background: url(../images/crowd.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	}
}
//END CAPTAIN'S LOG SECTION

//------------------------------------//
//  5. CADETS SECTION
//------------------------------------//

#cadets{
	background-color:#D8D8D2;
	color:#3D4150;
	h4{
			padding-top:43px;
			text-align: center;
		     font-size:36px;
	}
		h5{
			text-align: center;
		     font-size:16px;
	}
	 position: relative;

}


#spacecadet-headline{
	padding-top: 43px; 
		color:#3D4150;
}

#enlist{
	background: url(../images/people.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	h1{
		margin-top:20px;
	}
}


.btn{
	border:none;
}
#enlist-box{
	width: 200px;
	height:100px;
	   border: 3px solid #fff;
        border-radius: 2px;
display: table-cell;
vertical-align: middle;


		position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

